body{
 box-sizing: border-box;
 font-size:1rem;
 margin:0 auto;
}

#Header{
display:flex;
justify-content:center;
 background-color: thistle;
 height:100%;
 margin:0;
 padding: 10px;
}

.quote{
  width:60%;
  font-size: 1.5rem;
  background-color: white;
  padding:15px;
  border-radius:30px;
}

.generator{
  background-color:yellow;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom:150px;
}

.character-chooser{
  background-color: blue;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  border-style:dashed;
  width:80%;
  height:100%;
}

#char1 > img{
cursor: pointer;
height:20rem;
}

#char2 > img {
cursor:pointer;
height:20rem;
}

@media only screen and (max-width: 600px) {
  .quote{
    width:90%;
    font-size: 1rem;
    background-color: white;
    padding:15px;
    border-radius:30px;
  }

  #char1 > img{
    cursor: pointer;
    height:10rem;
    }
    
    #char2 > img {
    cursor:pointer;
    height:10rem;
    }
}